/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  font-family: Verdana, sans-serif;
}
body {
  height: 98%;
}
